<form #form="ngForm" (ngSubmit)="logForm()">
    <div class="container">
        <div class="mainData">
            <div class="sideTilteParent">
                <div class="sideTilte">שלב 1 פרטים כללים</div>
            </div>
            <div class="data">
                <div class="innerContainer">
                    <div class="inputs">
                        <div class="form-group">
                            <label for="Mortgage">סכום משכנתא</label>
                            <input class="form-control" type="text" name="MortgageSum" id="Mortgage" ngModel
                                   [value]="mortgageData.mortgageSum | addCommas"
                                   (input)="mortgageData.mortgageSum=ConvertToNum($event.target.value)"
                                   #MortgageSum="ngModel" appNumberValidator required>
                            <div class="messageError"
                                 *ngIf="MortgageSum.invalid && (MortgageSum.dirty || MortgageSum.touched)">
                                <div *ngIf="MortgageSum?.errors.required">
                                    יש להזין סכום משכנתא.
                                </div>
                                <div *ngIf="MortgageSum?.errors.cus_num">
                                    יש להזין מספרים בלבד.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Prop">שווי נכס</label>
                            <input class="form-control" type="text" name="PropValue" ngModel
                                   [value]="mortgageData.propValue | addCommas"
                                   (input)="mortgageData.propValue=ConvertToNum($event.target.value)"
                                   #PropValue="ngModel" id="Prop" appNumberValidator required>
                            <div class="messageError"
                                 *ngIf="PropValue.invalid && (PropValue.dirty || PropValue.touched)">
                                <div *ngIf="PropValue?.errors.required">
                                    יש להזין שווי נכס.
                                </div>
                                <div *ngIf="PropValue?.errors.cus_num">
                                    יש להזין מספרים בלבד.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Net">הכנסה נטו</label>
                            <input class="form-control" type="text" name="NetIncome" ngModel
                                   [value]="mortgageData.netIncome | addCommas"
                                   (input)="mortgageData.netIncome=ConvertToNum($event.target.value)"
                                   #NetIncome="ngModel" id="Net" appNumberValidator>
                            <div class="messageError"
                                 *ngIf="NetIncome.invalid && (NetIncome.dirty || NetIncome.touched)">
                                <div *ngIf="NetIncome?.errors.cus_num">
                                    יש להזין מספרים בלבד.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="button" class="btnContinue btn btn-success btn-sm"
                                [disabled]="(MortgageSum.invalid || PropValue.invalid || NetIncome.invalid)"
                                (click)="btnAddNewPlan()">המשך
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainDataPlans" *ngFor="let mortgagePlan of mortgageData.plans; let i=index">
            <div class="sideTilteParentPlans">
                <div *ngIf="i===0" class="sideTilte">שלב 2 הרכב משכנתא</div>
            </div>
            <div class="dataPlans">
                <div class="innerContainer">
                    <div class="inputs">
                        <div class="form-group">
                            <label>בחר מסלול</label>
                            <select class="form-control" name="mortgagePlan_{{i}}" [(ngModel)]="mortgagePlan.plan"
                                    #Plan="ngModel" appSelectInput [selectFlag]="i === mortgageData.plans.length-1"
                                    required>
                                <option *ngFor="let plan of MPlans" [value]="plan">{{plan}}</option>
                            </select>
                            <div class="messageError"
                                 *ngIf="Plan.invalid && (Plan.dirty || Plan.touched)">
                                יש צורך להזין מסלול.
                            </div>
                        </div>
                        <div class="form-group">
                            <label>סכום מסלול</label>
                            <input class="form-control" type="text" name="planSum_{{i}}" ngModel
                                   [value]="mortgagePlan.sum | addCommas"
                                   (input)="mortgagePlan.sum=ConvertToNum($event.target.value)"
                                   appSumValidator [indx]="i" [mPlans]="mortgageData.plans" [mSum]="mortgageData.mortgageSum"
                                   #MPlanSum="ngModel" appNumberValidator required >
                            <div class="messageError"
                                 *ngIf="MPlanSum.invalid && (MPlanSum.dirty || MPlanSum.touched)">
                                <div *ngIf="MPlanSum?.errors.required">
                                    יש להזין סכום מסלול.
                                </div>
                                <div *ngIf="MPlanSum?.errors.cus_num">
                                    יש להזין מספרים בלבד.
                                </div>
                                <div *ngIf="MPlanSum?.errors.cus_sum">
                                   הסכום הכולל של המסלולים גדול יותר מסכום המשכנתא.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>תקופה בשנים</label>
                            <select class="form-control" name="mortgagePeriod_{{i}}" [(ngModel)]="mortgagePlan.period"
                                    #MPeriod="ngModel" required>
                                <option *ngFor="let p of Period" [value]="p">{{p}}</option>
                            </select>
                            <div class="messageError"
                                 *ngIf="MPeriod.invalid && (MPeriod.dirty || MPeriod.touched)">
                                יש צורך להזין תקופה בשנים.
                            </div>
                        </div>
                        <div class="form-group">
                            <label>ריבית שהתקבלה עבור המסלול הזה</label>
                            <input class="form-control" type="number" name="interest_{{i}}" min="0" max="100"
                                   [(ngModel)]="mortgagePlan.interest" #MInterest="ngModel" appPercentageValidator
                                   required
                                   pattern="^[+-]?([0-9]*[.])?[0-9]+$">
                            <div class="messageError"
                                 *ngIf="MInterest.invalid && (MInterest.dirty || MInterest.touched)">
                                <div *ngIf="MInterest?.errors.required">
                                    יש צורך להזין ריבית.
                                </div>
                                <div *ngIf="MInterest?.errors.pattern">
                                    ריבית צריכה לכלול מספרים בלבד.
                                </div>
                                <div *ngIf="MInterest?.errors.cus_percentage">
                                    יש להזין מספר בין 0 ל - 100
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="button" class=" btnContinue btn btn-success btn-sm"
                                [disabled]="(Plan.invalid || MPlanSum.invalid || MPeriod.invalid || MInterest.invalid)"
                                (click)="btnAddNewPlan()">הוסף
                            מסלול נוסף +
                        </button>
                        <button type="button" class="btnAddPlan btnContinue btn btn-success btn-sm"
                                (click)="btnRemovePlan(mortgagePlan)">הסר מסלול
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btnSub">
        <button class="btn btn-warning" [disabled]="form.invalid || mortgageData.plans.length === 0"
                type="submit">איך המשכנתא
            שלי
        </button>
    </div>
</form>
